<html>
    <head>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>
        <footer>
            <div class="footer-div">
                <h1>something</h1>
                <p></p>
            </div>
        </footer>
    </body>
</html>