<html>
    <head>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/nav.css">
    </head>

    <body>
        <div class="main-div">
            <nav>
                <div class="logo-div">
                    <a href="/"><img src="/images/Logo-white.png" alt="site logo"></a>
                    <h1>Noosa Engage</h1>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Our Prices</a></li>
                    <li><a href="/">Staff</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>