<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <div class="logo-div">
                <a href="/"><img src="/images/Logo-white.png" alt="site logo"></a>
            </div> 
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="/prices">Our Prices</a></li>
                <% if (userLoggedIn) { %>
                    <li class="schedule"><a href="/schedule">Schedule</a></li>
                    <li><a href="/staff">Staff</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="<%= shopUrl %>" target="_blank">Shop</a></li>
                <% } else { %>
                    <li><a href="/staff">Staff</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="<%= shopUrl %>" target="_blank">Shop</a></li>
                    <li class="login"><a href="/login">Log In</a></li>
                    <li class="signup"><a href="/signup">Sign Up</a></li>
                <% } %>
            </ul>
            <div class="profile-picture-container">
                <% if (userLoggedIn) { %>
                    <img src="<%= user.profilePicture ? user.profilePicture : '/images/DefaultProfilePic.jpg' %>" alt="Profile Picture" class="profile-img-clickable" id="profile-pic">
                    <div class="dropdown" id="dropdown-menu">
                        <ul>
                            <li class="profile"><a href="/profile">Profile</a></li>
                            <% if (isUserAdmin) { %>
                                <li class="create-invoice"><a href="/create-invoice">Create Invoice</a></li>
                            <% } %>
                            <li class="logout"><a href="/logout">Log Out</a></li>
                        </ul>
                    </div>   
                <% } else { %>
                    <img src="/images/DefaultProfilePic.jpg" alt="Profile Picture" class="profile-img" id="profile-pic" %>>
                <% } %>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const profilePic = document.getElementById('profile-pic') || document.getElementById('profile-pic-guest');
            const dropdownMenu = document.getElementById('dropdown-menu');

            profilePic.addEventListener('click', function (event) {
                dropdownMenu.classList.toggle('show');
            });

            document.addEventListener('click', function (event) {
                if (!profilePic.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.remove('show');
                }
            });
        });
    </script>
</body>
</html>