<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <div class="logo-div">
                <a href="/"><img src="/images/Logo-white.png" alt="site logo"></a>
            </div> 
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="/prices">Our Prices</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/staff">Staff</a></li>
                <li><a href="/contact">Contact us</a></li>
                
                <% if (userLoggedIn) { %>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="/login">Log In</a></li>
                <% } %>
            </ul>
            <a href="/profile" class="profile-picture">
                <img src="/images/DefaultProfilePic.jpg" alt="Profile Picture" class="profile-img">
            </a>
        </div>
    </nav>
</body>
</html>
