<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="main-content">
            <div class="picture-div">
                <h1>Noosa Engage</h1>
            </div>
            <hr>
            <div class="intro-div">
    
            </div>
            <div class="classes-div">
    
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>