<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="shortcut icon" href="/images/Logo-white.png">
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XEW6Y9S2YM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XEW6Y9S2YM');
    </script>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="main-content">
            <div class="title-div">
                <h1>Noosa Engage</h1>
            </div>
            <div class="intro-div">
                <img src="/images/logo.png" alt="Site logo">
                <div class="text-div">
                    <hr>
                    <h1>Who We Are</h1>
                    <hr>
                    <p>Noosa Engage is an online tutoring platform that is dedicated
                        to enhancing students' knowledge in Math, Science, Computer Science,
                        and other subjects. We provide tutoring sessions for students in all levels.
                    </p>
                    <button class="button_to_register"><a class="schedule" href="/schedule">Register Now</a></button>
                </div>
            </div>
            <hr>
            <h1 class="styled-header">Our Tutoring Expertise Covers These Subjects</h1>
            <div class="classes-div">
                <div>
                    <a href="/courses/introduction-to-programming">
                        <img src="/images/Programming.webp" alt="Programming picture">
                        <div class="class-text">
                            <h1>Programming</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/oop">
                        <img src="/images/OOP.webp" alt="OOP picture">
                        <div class="class-text">
                            <h1>Object-Oriented Programming</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/data-structures-algorithms">
                        <img src="/images/DS_and_Algorithms.webp" alt="DS_and_Algorithms picture">
                        <div class="class-text">
                            <h1>Data Structures and Algorithms</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/web-development">
                        <img src="/images/Web_Dev.webp" alt="Web_Dev picture">
                        <div class="class-text">
                            <h1>Web Development</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/databases">
                        <img src="/images/Databases.webp" alt="Databases picture">
                        <div class="class-text">
                            <h1>Databases</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/arabic">
                        <img src="/images/Arabic.webp" alt="Arabic picture">
                        <div class="class-text">
                            <h1>Arabic</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/quran">
                        <img src="/images/Quran.webp" alt="Quran picture">
                        <div class="class-text">
                            <h1>Quran</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/pre-algebra">
                        <img src="/images/Pre-Algebra.webp" alt="Pre-Algebra picture">
                        <div class="class-text">
                            <h1>Pre-Algebra</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/algebra">
                        <img src="/images/Algebra.webp" alt="Algebra picture">
                        <div class="class-text">
                            <h1>Algebra</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/geometry">
                        <img src="/images/Geometry.webp" alt="Geometry picture">
                        <div class="class-text">
                            <h1>Geometry</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/pre-calculus">
                        <img src="/images/Pre-Calculus.webp" alt="Pre-Calculus picture">
                        <div class="class-text">
                            <h1>Pre-Calculus</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/chemistry">
                        <img src="/images/Chemistry.webp" alt="Chemistry picture">
                        <div class="class-text">
                            <h1>Chemistry</h1>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/courses/physics">
                        <img src="/images/Physics.webp" alt="Physics picture">
                        <div class="class-text">
                            <h1>Physics</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>