<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/login.css">
        <link rel="shortcut icon" href="/images/Logo-white.png">
    </head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XEW6Y9S2YM');
    </script>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="main-content">
            <div class="title-div">
                <h1>Login</h1>
            </div>
            <div class="login-form">
                <h1>Welcome Back</h1>
                <p class="submitFlag" id="submitFlag" hidden></p>
                <div class="submitter-email">
                    <input type="text" id="email" class="input" placeholder="Email" maxlength="50" required>
                </div>
                <div class="submitter-password">
                    <input type="password" id="password" name="password" placeholder="Password" 
                    required pattern="(?=.*\d)(?=.*[A-Z]).{6,}" 
                    title="Password must be at least 6 characters long, include at least one number and one uppercase letter.">
                </div>
                <button class="submitButton" id="submitButton" onclick="validateAndSubmitLogin()">Submit</button>

                <div class="links">
                    <a href="/forgotpassword" class="forgot-password-link">Forgot Password?</a>
                </div>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
        <script>
            function validateAndSubmitLogin() {
                const email = document.getElementById("email").value.trim().toLowerCase();
                const password = document.getElementById("password").value.trim();

                if (!email || !password) {
                    document.getElementById("submitFlag").innerHTML = "Email and password are required";
                    document.getElementById("submitFlag").style.color = "#D8000C";
                    document.getElementById("submitFlag").style.backgroundColor = "#FFBABA";
                    document.getElementById("submitFlag").style.display = "block";
                    return;
                }

                submitLogin();
            }
            async function submitLogin() {
                disableSubmitButton()
                const email = document.getElementById("email").value
                const password = document.getElementById("password").value
        
                const result = await fetch("/api/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify ({
                        email,
                        password
                    })
                })
    
                const reqResult = await result
                const message = await result.json()
    
                document.getElementById("submitFlag").innerHTML = message["message"]
                document.getElementById("submitFlag").style.display = "block"
                
                if (result.status === 200) {
                    document.getElementById("submitFlag").style.color = "#0a3755"
                    document.getElementById("submitFlag").style.backgroundColor = "#b7dffa"
                    await sleep(3000)
                    window.location.href = "/"
                }
                else {
                    document.getElementById("submitFlag").style.color = "#D8000C"
                    document.getElementById("submitFlag").style.backgroundColor = "#FFBABA"
                    enableSubmitButton()
                    await sleep(3000)
                }
    
                function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }
    
                function disableSubmitButton() {
                    document.getElementById("submitButton").disabled = true
                    document.getElementById("submitButton").style.backgroundColor = "#b7dffa"
                    document.getElementById("submitButton").style.cursor = "default"
                }

                function enableSubmitButton() {
                    document.getElementById("submitButton").disabled = false
                    document.getElementById("submitButton").style.backgroundColor = "#0a3755"
                    document.getElementById("submitButton").style.cursor = "pointer"
                }
            }
        </script>
    </body>
</html>
