<html>
    <head>
        <title>Prices</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/prices.css">
        <link rel="shortcut icon" href="/images/Logo-white.png">
    </head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XEW6Y9S2YM');
    </script>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="main-content">
            <div class="title-div">
                <h1>Prices</h1>
            </div>
            <div class="prices-divs">
                <div class="intro-session">
                    <div class="picture_div">
                        <img src="/images/intro.png" alt="Photo of first session">
                    </div>
                    <div class="description">
                        <h2>Intro Session</h2>
                        <h2>Free</h2>
                        <h3>30 minutes - 1 hour</h3>
                    </div>
                </div>
                <div class="high-school">
                    <div class="picture_div">
                        <img src="/images/second.png" alt="Photo of high school">
                    </div>
                    <div class="description">
                        <h2>High School</h2>
                        <h2>$40</h2>
                        <h3>1 hour</h3>
                    </div>
                </div>
                <div class="college-other-level">
                    <div class="picture_div">
                        <img src="/images/third.png" alt="Photo of college">
                    </div>
                    <div class="description">
                        <h2>University/Other</h2>
                        <h2>$50</h2>
                        <h3>1 hour</h3>
                    </div>
                </div>
            </div>
            <button class="button_to_register">
                <a class="schedule" href="<%= userLoggedIn ? '/schedule' : '/login' %>">
                    Register Now
                </a>
            </button>        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>