<html>
    <head>
        <title>Prices</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="shortcut icon" href="/images/Logo-white.png">
    </head>

    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="main-content">
            
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>