<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/schedule.css">
    <link rel="shortcut icon" href="/images/Logo-white.png">
    <title>Schedule an Appointment</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="main-content">
        <div class="title-div">
            <h1>Schedule</h1>
        </div>
        <div class="schedule-form">
            <h1>Appointment Details</h1>
            <p class="submitFlag" id="submitFlag" hidden></p>
            <div class="submitter-name">
                <label for="name">Full Name</label>
                <input type="text" id="name" class="input" placeholder="" maxlength="50">
            </div>
            <div class="submitter-email">
                <label for="email">Email</label>
                <input type="email" id="email" class="input" placeholder="" maxlength="50">
            </div>
            
            <div class="submitter-course">
                <label for="course">Select a Course</label>
                <select id="course" class="input">
                    <option value="" disabled selected></option>
                    <option value="algebra">Algebra</option>
                    <option value="arabic">Arabic</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="data-structures-algorithms">Data Structures and Algorithms</option>
                    <option value="databases">Databases</option>
                    <option value="geometry">Geometry</option>
                    <option value="introduction-to-programming">Programming</option>
                    <option value="oop">Object-Oriented Programming</option>
                    <option value="physics">Physics</option>
                    <option value="pre-algebra">Pre-Algebra</option>
                    <option value="pre-calculus">Pre-Calculus</option>
                    <option value="quran">Quran</option>
                    <option value="web-development">Web Development</option>
                </select>
            </div>
        
            <button class="submitButton" id="submitButton">Submit</button>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>

    <script type="module">
        document.addEventListener('DOMContentLoaded', function() {
            const submitButton = document.getElementById("submitButton");
            submitButton.addEventListener('click', submitAppointment);
        });

        async function submitAppointment() {
            const fullName = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const course = document.getElementById("course").value;

            const result = await fetch("/api/scheduleAppointment", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    fullName,
                    email,
                    course
                })
            });

            const message = await result.json();
            const submitFlag = document.getElementById("submitFlag");
            submitFlag.innerHTML = message["message"];
            submitFlag.style.display = "block";

            if (result.status === 200) {
                submitFlag.style.color = "#0a3755";
                submitFlag.style.backgroundColor = "#b7dffa";
                await sleep(1000);
                location.reload(true);
            } else {
                submitFlag.style.color = "#D8000C";
                submitFlag.style.backgroundColor = "#FFBABA";
                await sleep(2000);
            }

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
        }
    </script>
</body>
</html>
