<! html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule an Appointment</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/schedule.css">
    <link rel="shortcut icon" href="/images/Logo-white.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XEW6Y9S2YM');
</script>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="main-content">
        <div class="title-div">
            <h1>Schedule an Appointment</h1>
        </div>
        <div class="schedule-form">
            <input type="text" id="name" class="input" placeholder="Full Name" maxlength="50">
            <input type="email" id="email" class="input" placeholder="Email" maxlength="50">
            <select id="tutor" class="input">
                <option value="" disabled selected>Select Tutor</option>
                <option value="Mostafa Abdulaleem">Mostafa Abdulaleem</option>
                <option value="Omar Abdelalim">Omar Abdelalim</option>
            </select>
            <div id="dateContainer" style="display: none;">
                <input type="text" id="date" class="input" placeholder="Date">
                <span class="calendar-icon">&#128197;</span>
            </div>
            <div id="timeContainer" style="display: none;">
                <select id="time" class="input">
                    <option value="" disabled selected>Select Time</option>
                </select>
            </div>
            <button class="submitButton" id="submitButton" onclick="submitAppointment()">Submit</button>
            <p class="submitFlag" id="submitFlag" hidden></p>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="module">
        import availableTimes from '/js/availableTimes.js';

        document.addEventListener('DOMContentLoaded', () => {
            const tutorSelect = document.getElementById("tutor");
            tutorSelect.addEventListener("change", onTutorChange);

            flatpickr("#date", {
                enableTime: false,
                dateFormat: "Y-m-d",
                onChange: (selectedDates, dateStr) => updateTimes(dateStr)
            });
        });

        function onTutorChange() {
            const tutor = document.getElementById("tutor").value;
            document.getElementById("dateContainer").style.display = tutor ? 'block' : 'none';
            document.getElementById("timeContainer").style.display = 'none';
            updateDatePicker(tutor);
        }

        function updateDatePicker(tutor) {
            const availableDates = Object.keys(availableTimes[tutor]);
            flatpickr("#date", {
                disable: [date => !availableDates.includes(date.toISOString().split('T')[0])]
            });
        }

        function updateTimes(date) {
            const timeSelect = document.getElementById("time");
            timeSelect.innerHTML = '<option value="" disabled selected>Select Time</option>';
            const tutor = document.getElementById("tutor").value;
            const timeContainer = document.getElementById("timeContainer");

            if (tutor && date) {
                const times = availableTimes[tutor][date] || [];
                times.forEach(time => {
                    const option = document.createElement("option");
                    option.value = time;
                    option.textContent = time;
                    timeSelect.appendChild(option);
                });
                timeContainer.style.display = times.length ? 'block' : 'none';
            } else {
                timeContainer.style.display = 'none';
            }
        }

        async function submitAppointment() {
            disableSubmitButton()
            const fullName = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const date = document.getElementById("date").value;
            const time = document.getElementById("time").value;
            const tutor = document.getElementById("tutor").value;

            try {
                const result = await fetch("/api/scheduleAppointment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        fullName,
                        email,
                        date,
                        time,
                        tutor
                    })
                });

                const reqResult = await result
                const message = await result.json();
                document.getElementById("submitFlag").innerHTML = message["message"]
                document.getElementById("submitFlag").style.display = "block"

                if (result.status === 200) {
                    document.getElementById("submitFlag").style.color = "#0a3755"
                    document.getElementById("submitFlag").style.backgroundColor = "#b7dffa"
                    await sleep(1000);
                    window.location.href = "/";
                } else {
                    document.getElementById("submitFlag").style.color = "#D8000C"
                    document.getElementById("submitFlag").style.backgroundColor = "#FFBABA"
                    await sleep(2000);
                }
            } catch (error) {
                console.error('Error submitting appointment:', error);
            }

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            function disableSubmitButton() {
                    document.getElementById("submitButton").disabled = true
                    document.getElementById("submitButton").style.backgroundColor = "#b7dffa"
                    document.getElementById("submitButton").style.cursor = "default"
                }
        }
    </script>
</body>
</html>
