<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule an Appointment</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/schedule.css">
    <link rel="shortcut icon" href="/images/Logo-white.png">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="main-content">
        <div class="title-div">
            <h1>Schedule an Appointment</h1>
        </div>
        <div class="schedule-form">
            <h1>Appointment Details</h1>
            <p class="submitFlag" id="submitFlag" hidden></p>
            <div class="submitter-name">
                <input type="text" id="name" class="input" placeholder="Full Name" maxlength="50">
            </div>
            <div class="submitter-email">
                <input type="text" id="email" class="input" placeholder="Email" maxlength="50">
            </div>
            <div class="submitter-date">
                <select id="date" class="input">
                    <option value="" disabled selected>Select Date</option>
                    <option value="2024-08-01">August 1, 2024</option>
                    <option value="2024-08-02">August 2, 2024</option>
                    <!-- Add more date options here -->
                </select>
            </div>
            <div class="submitter-time">
                <select id="time" class="input">
                    <option value="" disabled selected>Select Time</option>
                    <option value="09:00 AM">09:00 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <!-- Add more time options here -->
                </select>
            </div>
            <button class="submitButton" id="submitButton" onclick="submitAppointment()">Submit</button>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
        async function submitAppointment() {
            disableSubmitButton()
            const fullName = document.getElementById("name").value
            const email = document.getElementById("email").value
            const date = document.getElementById("date").value
            const time = document.getElementById("time").value

            const result = await fetch("/api/scheduleappointment", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify ({
                    fullName,
                    email,
                    date,
                    time
                })
            })

            const message = await result.json()

            document.getElementById("submitFlag").innerHTML = message["message"]
            document.getElementById("submitFlag").style.display = "block"

            if (result.status === 200) {
                document.getElementById("submitFlag").style.color = "#0a3755"
                document.getElementById("submitFlag").style.backgroundColor = "#b7dffa"
            } else {
                document.getElementById("submitFlag").style.color = "#D8000C"
                document.getElementById("submitFlag").style.backgroundColor = "#FFBABA"
            }

            if (result.status === 200) {
                await sleep(3000)
                window.location.href = "/";
            } else {
                location.reload(true);
            }

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            function disableSubmitButton() {
                document.getElementById("submitButton").disabled = true
                document.getElementById("submitButton").style.backgroundColor = "#b7dffa"
                document.getElementById("submitButton").style.cursor = "default"
            }
        }
    </script>
</body>
</html>
