<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title> 
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="shortcut icon" href="/images/Logo-white.png">
</head>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="main-content">
        <div class="title-div">
            <h1>Sign Up</h1>
        </div>
        <div class="wrapper">

            <!-- Error message section -->
            <% if (typeof errorMessage !== "undefined") { %>
                <div class="error-message">
                    <p><%= errorMessage %></p>
                </div>
            <% } %>

            <!-- Success message section -->
            <% if (typeof successMessage !== "undefined") { %>
                <div class="success-message">
                    <p><%= successMessage %></p>
                </div>
                <script>
                    setTimeout(function() {
                        window.location.href = "/";
                    }, 2000);  // 2-second delay before redirecting
                </script>
            <% } else { %>
                <h1>Register</h1>
                <form action="/api/signup" method="POST">
                    <div class="input-box">
                        <input type="text" name="firstName" placeholder="First name" required>
                    </div>
                    <div class="input-box">
                        <input type="text" name="lastName" placeholder="Last name" required>
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-box">
                      <input type="password" name="password" placeholder="New Password" 
                             required pattern="(?=.*\d)(?=.*[A-Z]).{6,}" 
                             title="Password must be at least 6 characters long, include at least one number and one uppercase letter.">
                  </div>
                    <div class="input-box">
                        <input type="password" name="confirmPassword" placeholder="Confirm password" required>
                    </div>
                    <div class="input-box button">
                        <input type="submit" value="Register Now">
                    </div>
                </form>
            <% } %>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>
