<!DOCTYPE html>
<html>
    <head>
        <title>Contact us</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/signup.css">
        <link rel="shortcut icon" href="/images/Logo-white.png">
    </head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XEW6Y9S2YM');
    </script>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="main-content">
            <div class="title-div">
                <h1>Sign Up</h1>
            </div>
            <div class="signup-form">
                <h1>Register</h1>
                <p class="submitFlag" id="submitFlag" hidden></p>
                <div class="submitter-name">
                    <input type="text" id="name" class="input" placeholder="Full Name" maxlength="50">
                </div>
                <div class="submitter-email">
                    <input type="text" id="email" class="input" placeholder="Email" maxlength="50">
                </div>
                <div class="submitter-password">
                    <input type="password" id="password" name="password" placeholder="New Password">
                </div>
                <div class="submitter-password-confirm">
                    <input type="password" id="confirmedPassword" name="confirmedPassword" placeholder="Confirm Password">
                </div>
                <button class="submitButton" id="submitButton" onclick="validateAndSubmitSignup()">Submit</button>
                <div class="links">
                    <a href="/login" class="signup-link">Already have an account? Login here</a>
                </div>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
        <script>
            function validateAndSubmitSignup() {
                const name = document.getElementById("name").value.trim();
                const email = document.getElementById("email").value.trim();
                const password = document.getElementById("password").value.trim();
                const confirmedPassword = document.getElementById("confirmedPassword").value.trim();

                if (!name || !email || !password || !confirmedPassword) {
                    document.getElementById("submitFlag").innerHTML = "All fields are required";
                    document.getElementById("submitFlag").style.color = "#D8000C";
                    document.getElementById("submitFlag").style.backgroundColor = "#FFBABA";
                    document.getElementById("submitFlag").style.display = "block";
                    return;
                }
                const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d).{6,}$/;
                if (!passwordPattern.test(password)) {
                    document.getElementById("submitFlag").innerHTML = "Password must be at least 6 characters long and include at least one letter and one number";
                    document.getElementById("submitFlag").style.color = "#D8000C";
                    document.getElementById("submitFlag").style.backgroundColor = "#FFBABA";
                    document.getElementById("submitFlag").style.display = "block";
                    return;
                }
                if (password !== confirmedPassword) {
                    document.getElementById("submitFlag").innerHTML = "Passwords do not match";
                    document.getElementById("submitFlag").style.color = "#D8000C";
                    document.getElementById("submitFlag").style.backgroundColor = "#FFBABA";
                    document.getElementById("submitFlag").style.display = "block";
                    return;
                }

                submitSignup();
            }

            async function submitSignup() {
                disableSubmitButton();
                const fullName = document.getElementById("name").value;
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;
                const confirmedPassword = document.getElementById("confirmedPassword").value;
        
                const result = await fetch("/api/signup", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify ({
                        fullName,
                        email,
                        password,
                        confirmedPassword
                    })
                });
    
                const message = await result.json();
    
                document.getElementById("submitFlag").innerHTML = message["message"];
                document.getElementById("submitFlag").style.display = "block";
                
                if (result.status === 200) {
                    document.getElementById("submitFlag").style.color = "#0a3755";
                    document.getElementById("submitFlag").style.backgroundColor = "#b7dffa";
                    await sleep(3000);
                    window.location.href = "/login";
                }
                else {
                    document.getElementById("submitFlag").style.color = "#D8000C";
                    document.getElementById("submitFlag").style.backgroundColor = "#FFBABA";
                    enableSubmitButton();
                    await sleep(3000);
                }
    
                function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }
    
                function disableSubmitButton() {
                    document.getElementById("submitButton").disabled = true;
                    document.getElementById("submitButton").style.backgroundColor = "#b7dffa";
                    document.getElementById("submitButton").style.cursor = "default";
                }

                function enableSubmitButton() {
                    document.getElementById("submitButton").disabled = false;
                    document.getElementById("submitButton").style.backgroundColor = "#0a3755";
                    document.getElementById("submitButton").style.cursor = "pointer";
                }
            }
        </script>
    </body>
</html>
