<html>
    <head>
        <title>Staff</title>
        <link rel="stylesheet" href="/styles/general.css" />
        <link rel="stylesheet" href="/styles/staff.css" />
        <link rel="shortcut icon" href="/images/Logo-white.png" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="main-content">
            <div class="title-div">
                <h1>Our Team</h1>
            </div>
            <div class="staff-container">
                <div class="card">
                    <img src="/images/Mostafa.png" alt="Photo of Mostafa" />
                    <div class="card-info">
                        <h2>Mostafa Abdulaleem</h2>
                        <h3>Embedded Software Engineer</h3>
                        <p>
                            Bachelors Degree in Electrical Engineering from
                            Purdue University.
                        </p>
                        <p>
                            Tested concentration sensors, power distribution
                            system design, and taught various subjects.
                        </p>
                        <p>
                            Experience at teaching science for students of all ages.
                        </p>
                        <a
                            href="https://www.linkedin.com/in/mostafa-abdulaleem-649303179"
                            target="_blank"
                            ><i class="fab fa-linkedin-in"></i
                        ></a>
                    </div>
                </div>

                <div class="card">
                    <img src="/images/Omar.jpeg" alt="Photo of Omar" />
                    <div class="card-info">
                        <h2>Omar Abdelalim</h2>
                        <h3>Sr. Software Engineer</h3>
                        <p>
                            Masters Degree in Computer Science from Purdue University.
                        </p>
                        <p>
                            Bachelors Degree in Computer Engineering from Purdue University.
                        </p>
                        <p>
                            Senior Software Engineer at Stryker. 
                        </p>
                        <p>
                            Taught University Level Computer Science Courses for 2 years.
                        </p>
                        <a
                            href="https://www.linkedin.com/in/omar-abdelalim11"
                            target="_blank"
                            ><i class="fab fa-linkedin-in"></i
                        ></a>
                        <a href="https://www.omarengineer.com" target="_blank"
                            ><i class="fa fa-desktop"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>
    </body>
</html>
