<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/update_password.css">
    <link rel="shortcut icon" href="/images/Logo-white.png">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="main-content">
        <div class="title-div">
            <h1>Update Password</h1>
        </div>
        <div class="update_password-form">
            <h1>Enter your new password below</h1>
            <p class="submitFlag" id="submitFlag" hidden></p>
            
            <div class="submitter-password">
                <input type="password" id="password" class="input" placeholder="Password" minlength="6" maxlength="50" required 
                       pattern="(?=.*\d)(?=.*[A-Z]).{6,}" title="Must contain at least one uppercase letter, one digit, and be at least 6 characters long">
            </div>
            <div class="submitter-password">
                <input type="password" id="confirm-password" class="input" placeholder="Confirm password" minlength="6" maxlength="50" required 
                       pattern="(?=.*\d)(?=.*[A-Z]).{6,}" title="Must match the password requirements.">
            </div>

            <input type="hidden" id="resetCode">

            <button class="submitButton" id="submitButton" onclick="validateAndSubmitUpdatePassword()">Submit</button>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
        function getResetCodeFromURL() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get("code");
        }

        function validateAndSubmitUpdatePassword() {
            const password = document.getElementById("password").value.trim();
            const confirmPassword = document.getElementById("confirm-password").value.trim();

            // Check if passwords match and meet the pattern requirement
            if (password !== confirmPassword) {
                showError("Passwords do not match.");
                return;
            } else if (!document.getElementById("password").checkValidity()) {
                showError("Password must contain at least one uppercase letter, one digit, and be at least 6 characters long.");
                return;
            }

            submitUpdatePassword();
        }

        async function submitUpdatePassword() {
            disableSubmitButton();
            const newPassword = document.getElementById("password").value;
            const resetCode = getResetCodeFromURL();

            const result = await fetch("/api/updatePassword", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ resetCode, newPassword })
            });

            const message = await result.json();
            document.getElementById("submitFlag").innerHTML = message["message"];
            document.getElementById("submitFlag").style.display = "block";

            if (result.status === 200) {
                document.getElementById("submitFlag").style.color = "#0a3755";
                document.getElementById("submitFlag").style.backgroundColor = "#b7dffa";
                await sleep(3000);
                window.location.href = "/login";
            } else {
                showError(message["message"]);
                enableSubmitButton();
            }
        }

        function showError(message) {
            document.getElementById("submitFlag").innerHTML = message;
            document.getElementById("submitFlag").style.color = "#D8000C";
            document.getElementById("submitFlag").style.backgroundColor = "#FFBABA";
            document.getElementById("submitFlag").style.display = "block";
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function disableSubmitButton() {
            const submitButton = document.getElementById("submitButton");
            submitButton.disabled = true;
            submitButton.style.backgroundColor = "#b7dffa";
            submitButton.style.cursor = "default";
        }

        function enableSubmitButton() {
            const submitButton = document.getElementById("submitButton");
            submitButton.disabled = false;
            submitButton.style.backgroundColor = "#0a3755";
            submitButton.style.cursor = "pointer";
        }
    </script>
</body>
</html>
