footer {
    width: 100%;
    height: 9rem;
    background-color: #0a3755;
}

.footer-div {
    height: 100%;
    display: flex;
    flex-direction: row; /* Default layout for larger screens */
    justify-content: center;
    align-items: center;
    gap: 400px;
}

.footer-div h1 {
    color: white;
}

.social-media {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.social-media a {
    font-size: 70px;
}

.social-media a:hover {
    color: #be7303;
}

@media (max-width: 768px) {
    .footer-div {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .social-media {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .social-media a {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    footer {
        height: auto;
        padding: 1rem 0;
    }

    .footer-div {
        gap: 10px;
    }

    .social-media a {
        font-size: 40px;
    }
}
