* {
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    min-height: 50rem;
}

button {
    font-size: 15px;
    padding: 9px 25px;
    background-color: #0a3755;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover {
    background-color: #be7303;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.title-div {
    max-width: 100%;
    min-height: 10rem;
    max-height: 10rem;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(106,59,5,1) 51%, rgba(255,158,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-div h1 {
    color: white;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
}

.submitFlag {
    margin-top: -30px;
    margin-bottom: -30px;
    width: 80%;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.submitter-password, .submitter-password-confirm {
    position: relative;
    display: flex;
    align-items: center;
}

#password, #confirmedPassword {
    flex: 1;
}

#togglePassword, #togglePasswordConfirm {
    margin-left: 10px;
    color: #ffffff;
    background-color: #0f3755;
    padding: 5px 10px;
    font-size: 14px;
}

#togglePassword:hover, #togglePasswordConfirm:hover {
    background-color: #be7303;
    transform: scale(1.05);
}

#togglePassword:active, #togglePasswordConfirm:active {
    background-color: #be7303;
}

@media (max-width: 430px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 20rem;
    }
    
    .title-div {
        min-height: 10rem;
    }

    .title-div h1 {
        font-size: 40px;
        line-height: 4;
        text-align: center;
    }
}