.prices-divs {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.elementary-middle-school, .high-school, .college-other-level {
    width: 100%;
    max-height: 30rem;
    border-radius: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.picture_div {
    height: 15rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.picture_div img {
    height: 13rem;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prices-divs h2 {
    font-size: 26px;
    color: #183753;
}

.prices-divs h3 {
    font-size: 18px;
    color: #183753;
}

.prices-divs h4 {
    font-size: 14px;
    color: #707070;
}

.note {
    text-align: center;
    padding: 20px;
    width: 70%;
    font-size: 16px;
    color: #333;
    background-color: #fff8e1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button_to_register {
    width: 20%;
    padding: 15px 30px;
    margin-bottom: 5%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #0a3755;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button_to_register a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    line-height: 25px;
}

.button_to_register:hover {
    background-color: #e68900;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 430px) {
    .main-content {
        margin-bottom: 50px;
        gap: 20px;
    }

    .prices-divs {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .elementary-middle-school, .high-school, .college-other-level {
        width: 70%;
        max-height: none;
        justify-content: center;
        align-items: center;
    }

    .picture_div {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .picture_div img {
        height: auto;
        max-height: 12rem;
        width: auto;
        max-width: 100%;
    }
    .description {
        gap: 10px;
        padding: 10px;
    }

    .prices-divs h2 {
        font-size: 24px;
    }

    .prices-divs h3 {
        font-size: 14px;
    }

    .button_to_register {
        width: 50%;
        height: 60px;
    }

    .schedule {
        line-height: 30px;
    }
}
