@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 60px;
    width: 60%;
    height: 65%;
    box-shadow: 2px 5px 20px rgba(119,119,119,0.5);
}

.editButton {
    align-self: flex-end;
    text-align: center;
    width: 15%;
    margin-top: 10px;
    margin-bottom: -40px;
}
.changePasswordButton {
    align-self: flex-end;
    text-align: center;
    width: 15%;
}

.profile-info .input {
    width: 80%;
    border: 0;
    border-bottom: 1px solid #0a3755;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #070707;
    outline: none;
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#image {
    width: 80%;
    border: 0;
    border-bottom: 1px solid #0a3755;
}

.submitButton, .cancelButton {
    padding: 7px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border: 0;
    background: #0a3755;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.flexContainer {
    display: flex;
    gap: 50px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.passwordChangeMessage {
    margin: 5px 0;
}

.modal h2 {
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flexContainer button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #0a3755;
    color: white;
    cursor: pointer;
}

.flexContainer button:hover {
    background-color: #be7303;
}

@media (max-width: 768px) {
    .profile-info {
        width: 80%;
        padding: 40px;
    }

    .editButton {
        width: 30%;
    }
    .changePasswordButton {
        width: 30%;
    }

    .flexContainer {
        gap: 20px;
        flex-direction: column;
    }

    .profile-info .input, #image {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .profile-info {
        width: 100%;
        padding: 20px;
    }

    .editButton {
        width: 100%;
        margin-top: 10px;
    }
    .changePasswordButton {
        width: 100%;
        margin-top: 10px;
    }

    .submitButton, .cancelButton {
        width: 100%;
    }

    .profile-info .input, #image {
        width: 100%;
        font-size: 14px;
    }

    .flexContainer {
        flex-direction: column;
        gap: 15px;
    }
}