.main-content {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.tutor {
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tutor img {
    width: 400px;
    height: 400px;
}

.tutor-info {
    min-width: 500px;
}

.tutor-info hr {
    border: 3px solid #c9c9c9;
}

.tutor-info h1 {
    margin: 20px 0;
    font-size: 45px;
    color: #0A3755;
}

.tutor-info h2 {
    margin: 18px 0;
}

.tutor-info h3 {
    margin: 13px 0;
}

.tutor-info ul:not(:last-child) li {
    list-style: square;
}

.omar-social-media {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.mostafa-social-media {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.tutor-info ul a {
    font-size: 30px;
    color: black;
}

.tutor-info ul a:hover {
    color: #be7303;
}

@media (max-width: 430px) {
    .main-content {
        margin-bottom: 50px;
        gap: 30px;
    }

    .tutor {
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }

    .tutor img {
        width: 100%;
        height: auto;
        max-width: 200px;
    }

    .tutor-info {
        min-width: 100%;
        text-align: center;
    }

    .tutor-info h1 {
        font-size: 30px;
    }

    .tutor-info h2 {
        font-size: 24px;
    }

    .tutor-info h3 {
        font-size: 20px;
    }

    .omar-social-media {
        justify-content: center;
    }

    .mostafa-social-media {
        justify-content: center;
    }

    .tutor-info ul a {
        font-size: 20px;
    }

    ul li {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 5px;
        text-align: left;
        padding-left: 10px;
    }
}
